* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fondo {
  width: 100%;
  height: 300px;
  background-color: rgb(58, 51, 51);
  padding: 30px;
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
  padding: 12px 18px;
  position: relative;
  z-index: 2;
}
.btn svg {
  margin-left: 20px;
  transition: 0.25s 0.4s cubic-bezier(0, 0, 0.5, 0);
}
.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(calc(100% + 18px));
  width: 45px;
  height: 45px;
  background-color: brown;
  border-radius: 50px;
  transition: transform 0.25s 0.25s cubic-bezier(0, 0, 0.5, 0), width 0.25s cubic-bezier(0, 0, 0.5, 0);
  z-index: -1;
}
.btn:hover::before {
  transform: translateY(-50%) translateX(-18px);
  width: 100%;
  transition: transform 0.25s cubic-bezier(0, 0, 0.5, 0), width 0.25s 0.25s cubic-bezier(0, 0, 0.5, 0);
}
.btn:hover svg {
  transform: translateX(3px);
}

.btn2 {
  font-size: 44px;
  color: white;
  border: none;
  margin: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #4feaff;
  transition: 0.3s;
  animation: pulse 0.5s;
}
.btn2:active {
  transform: scale(0.85);
  animation: none;
}

@keyframes pulse {
  from {
    box-shadow: #69bcff 0 0 0;
  }
  to {
    box-shadow: #69bcff 0 0 24px;
  }
}
.search {
  font-size: 8px;
  padding: 1em;
  width: max-content;
  color: #eee;
  background: linear-gradient(to bottom right, #b1227a, #429aee);
  border-radius: 0.4em;
  display: flex;
  align-items: center;
}
.search input, .search button {
  color: inherit;
  border: 0;
  background-color: transparent;
  outline: none;
}
.search input {
  width: 0;
  transition: 0.5s;
}
.search button {
  width: 2.5em;
  height: 2.5em;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.search:focus-within input {
  width: 20em;
}

.flutuar {
  margin: 20px;
  border-bottom: 4px solid;
  width: max-content;
}
.flutuar svg {
  font-size: 45px;
  filter: drop-shadow(0px 0px 1px #000);
  animation: flutuar 3s linear infinite;
}
.flutuar svg:nth-child(1) {
  animation-delay: 0.2s;
}
.flutuar svg:nth-child(2) {
  animation-delay: 0.4s;
}
.flutuar svg:nth-child(3) {
  animation-delay: 0.6s;
}
.flutuar svg:nth-child(4) {
  animation-delay: 0.8s;
}
.flutuar svg:nth-child(5) {
  animation-delay: 1s;
}

@keyframes flutuar {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-23px);
  }
  100% {
    transform: translateY(0px);
  }
}
.checkbox {
  font-size: 8px;
}
.checkbox input {
  display: none;
}
.checkbox input:checked + label {
  background-color: #bada53;
}
.checkbox input:checked + label::after {
  left: calc(100% - 0.5em);
  transform: translate(-100%);
}
.checkbox label {
  width: 20em;
  height: 10em;
  display: block;
  background-color: grey;
  border-radius: 10em;
  position: relative;
}
.checkbox label::after {
  content: "";
  position: absolute;
  width: 9em;
  height: 9em;
  border-radius: 9em;
  background-color: brown;
  top: 0.5em;
  left: 0.5em;
  transition: 0.3s;
}

.card {
  width: 150px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: box-shadow 0.5s, transform 0.25s;
}
.card svg {
  font-size: 50px;
  color: rgb(255, 0, 0);
}
.card h4 {
  text-align: center;
  color: rgb(255, 0, 0);
}
.card:hover {
  transform: rotateZ(20deg) skew(-10deg, -5deg);
  box-shadow: rgba(255, 255, 255, 0.5) 5px 3px, rgba(255, 255, 255, 0.4) 10px 6px, rgba(255, 255, 255, 0.3) 15px 9px;
  transition: box-shadow 0.75s, transform 0.375s;
}

.card2 {
  font-size: 15px;
  display: grid;
  place-items: center;
  position: relative;
  height: 15em;
  width: 10em;
  background-color: #191919;
  border-radius: 1em;
  overflow: hidden;
}
.card2 span {
  position: absolute;
  z-index: 2;
  color: white;
}
.card2::before {
  content: "";
  width: 6em;
  height: 30em;
  left: 1em;
  top: -7em;
  position: absolute;
  background-image: linear-gradient(#00e5ff, #b400fb);
  animation: animate 5s linear infinite;
}
.card2::after {
  content: "";
  position: absolute;
  background-color: #191919;
  inset: 0.3em;
  border-radius: 0.5em;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */