.btn5{
    height: 80px;
    background-color: transparent;
    color: white;
    border: none;
    padding: 12px 18px;
    position: relative;
    z-index: 2;
 }
 
 .btn5 svg {
   margin-left: 20px;
 }
 
 .btn5 .circulo {
   width: 45px;
   height: 45px;
   background-color: #b1227a;
   border-radius: 50px;
   position: absolute;
   z-index: -1;
   transform: translate(0,-50%);
   top: 50%;
   left: 83px;
   transition:  width 0.25s , 0.25s 0.25s left ;
 }
 
 .btn5:hover .circulo{
   left: 0;
   width: 100%;
   transition: left 0.25s , width 0.25s 0.25s;
 }