.card2{
    font-size: 15px;
    position: relative;
    height: 15em;
    width: 10em;
    margin: 15px;
    background-color: #ffffff;
    box-shadow: 12px 0px 32px -12px black;
    border-radius: 1em;
    overflow: hidden;
    .card2-info{
        inset: .3em;
        position: absolute;
        z-index: 2;
        color: rgb(0, 0, 0);
        display: grid;
        place-items: center;
    }
    &::before{
        content: "";
        width: 6em;
        height: 30em;
        left: 1em;
        top: -7em;
        position: absolute;
        background-image: linear-gradient(#00e5ff,#b400fb);
        animation:  animate 5s linear infinite;
    }
    &::after{
        content: "";
        position: absolute;
        background-color: #ffffff;
        inset: .3em;
        border-radius: .5em;
    }
}
@keyframes animate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}