.input1{
    width: 15.6em;
    height: 3em;
    font-size: 16px;
    position: relative;
    margin: 2.15em;
    display: grid;
    place-items: center start;
    input{
        width: inherit;
        height: inherit;
        color: #000;
        font-size: inherit;
        outline: none;
        border:  .125em solid #000;
        padding:  .625em;
 
        &:focus + span,&:valid + span {
            top: - 1.15em;
            left: 1em;
            font-size: .875em;
            padding: 0 .625em;
            background-color: #fff;
        }
    }
    span{
        left: 0;
        top: 0.4em;
        position: absolute;
        margin: 10px;
        pointer-events: none;
        transition: 0.5s;
        line-height: 1.125em;
        
    }
}