.navbar{
    background-color: rgb(255, 255, 255);
    ul{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: end;
        position: relative;
        div{
            content: "";
            position: absolute;
            background-color: rgba(202, 0, 0, 0.603);
            width: 70px;
            height: 37px;
            border-radius: 5px;
            right: 5px;
           transition: .5s;
            
        }
     
            

        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: rgb(0, 0, 0);
                padding: 10px 20px;
            }
        }
    }
}