.shopping{
    position: relative;
    display: flex;
    gap: 10px;
    div{
        display: grid;
        place-items: center;
        border: 2px solid;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        span{
            position: absolute;
            display: grid;
            place-items: center;
            left: 63px;
            top: 2px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: brown;
            color: white;
            opacity: 0;
        }
        .animate{
            animation: 1s linear count forwards ;
        }
        svg{
            font-size: 30px;
        }
    }
    button{
        width: 100px;
        line-height: 20px;
        background-color: rgb(165, 42, 42);
        color: white;
        border-radius: 5px;
    }
   @keyframes count {
     0%{
        opacity: 1;
        left: 63px;
        top: 2px;
     }
     50%{
        left: 45px;
        top: -20px;
     }
     100%{
        opacity: 1;
        left: 25px;
        top: 5px;
     }
   }
}