*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.fondo{
    width: 100%;
    height: 300px;
    background-color: rgb(58, 51, 51);
    padding: 30px;
    display: flex;
    justify-content: center

}
@import "btn";
@import "btn2";
@import "btn3";
@import "btn4";
@import "search";
@import "flutuar";
@import "checkbox";
@import "card";
@import "card2";
@import "text";
@import "slider";
@import "scroller";
@import "input1";
